<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.dao.IGroupBuyActivityDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.dao.po.GroupBuyActivity">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="source" property="source"/>
        <result column="channel" property="channel"/>
        <result column="goods_id" property="goodsId"/>
        <result column="discount_id" property="discountId"/>
        <result column="group_type" property="groupType"/>
        <result column="take_limit_count" property="takeLimitCount"/>
        <result column="target" property="target"/>
        <result column="valid_time" property="validTime"/>
        <result column="status" property="status"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="tag_scope" property="tagScope"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryGroupBuyActivityList" resultMap="dataMap">
        select * from group_buy_activity
    </select>

</mapper>
